.about {
    background: url('../../img/bg/bg-3.svg') center center / cover no-repeat;
}

.about__clouds {
    position: relative;
    z-index: 2;
    display: flex;

    width: 760px;
    
    margin-top: 60px;
    margin-left: 176px;
}

.cloud {
    position: relative;

    font-family: 'DIN Pro';
    font-size: 25px;
    color: #2e2e2e;

    border-radius: 40px;

    background: white;
}

.cloud.cloud_big {
    margin-right: 50px;
    padding: 55px 64px 0 105px;

    width: 413px;
    height: 265px;
}

.cloud.cloud_big img {
    position: absolute;
    top: -20px;
    left: 106px;

    width: 67px;
}

.cloud.cloud_little {
    padding: 55px 30px 50px 35px;
    width: 263px;
    height: 150px;
}

.cloud.cloud_little img {
    position: absolute;
    top: -20px;
    left: 35px;
    
    width: 67px;
}

.modal__wrapper {
    position: absolute;
    z-index: 3;
    top: 123px;
    left: 125px;

    display: none;

    width: 860px;
    height: 573px;
}

.modal {
    position: relative;
    width: 100%;
    height: 100%;

    padding: 187px 100px 50px 230px;

    border-radius: 40px;
    background: white;
}

.modal .modal__close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 28px;

    font-size: 80px;
    font-weight: 100;
    color: black;
  }

.bottle-wrapper {
    position: absolute;
    bottom: 0;
    left: 45px;
}

.bottle {
    position: relative;
    width: 240px;
    height: 700px;
}

#bottle {
    position: absolute;
    bottom: 0;
    height: 100%;
    z-index: 5;
}

#bubble-1 {
    position: absolute;
    z-index: 4;
    top: -15px;
    right: 35px;

    width: 35px;

    animation: 20s linear 0s infinite alternate slideDiag;
}

#bubble-2 {
    position: absolute;
    z-index: 6;
    top: 65px;
    right: 20px;

    width: 65px;

    animation: 5s linear 0s infinite alternate slideDiagSmallNeg;
}

#bubble-3 {
    position: absolute;
    z-index: 4;
    top: 115px;
    left: 20px;

    width: 34px;

    animation: 2s linear 0s infinite alternate slideDiagSmallestNeg;
}

#bubble-4 {
    position: absolute;
    z-index: 4;
    top: 194px;
    right: -25px;

    width: 110px;
    animation: 2s linear 0s infinite alternate slideDiagSmallestPos;
}

#bubble-5 {
    position: absolute;
    z-index: 5;
    bottom: 250px;
    left: -40px;

    width: 33px;

    animation: 5s linear 0s infinite alternate slideDiagSmallestPos;
}

#bubble-6 {
    position: absolute;
    z-index: 6;
    bottom: 140px;
    left: -25px;

    width: 75px;

    animation: 10s linear 0s infinite alternate scale;
}

#bubble-7 {
    position: absolute;
    z-index: 4;
    bottom: 130px;
    right: -30px;

    width: 61px;

    animation: 8s linear 0s infinite alternate scale;
}

#bubble-8 {
    position: absolute;
    z-index: 6;
    bottom: -60px;
    right: -45px;

    width: 140px;

    animation: 5s linear 0s infinite alternate slideDiagSmallNeg;
}