.greet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background: url('../../img/bg/bg-1.svg') center center / cover no-repeat;
}

/* 2.3.4.6 */

#blue-round-1 {
    position: absolute;
    top: 30px;
    right: 35px;

    width: 70px;
}

#blue-round-2 {
    position: absolute;
    top: 60px;
    right: 215px;
    
    width: 60px;

    animation: 20s ease-in-out 0s infinite alternate slideDiagSmall;
}

#blue-round-3 {
    position: absolute;
    top: 180px;
    right: 50px;

    width: 110px;

    animation: 20s ease-in-out 0s infinite alternate slideLeft;
}

#blue-round-4 {
    position: absolute;
    z-index: -1;
    bottom: 235px;
    left: 100px;

    width: 70px;

    animation: 20s ease-in-out 0s infinite alternate slideDiag;
}

#blue-round-5 {
    position: absolute;
    bottom: 60px;
    left: 400px;

    width: 85px;
}

#blue-round-6 {
    position: absolute;
    bottom: -100px;
    right: 250px;

    width: 225px;
    
    animation: 10s ease-in-out 0s infinite scale;
}

#blue-stick {
    position: absolute;
    top: 70px;
    left: -100px;

    width: 215px;
}

#pink-sperm-1 {
    position: absolute;
    z-index: 1;
    top: 176px;
    left: 450px;

    width: 590px;
}

#pink-sperm-2 {
    position: absolute;
    bottom: 0;
    left: -60px;

    width: 410px;
}