.intro {
    background: url('../../img/bg/bg-2.svg') center center / cover no-repeat;
}

.intro .container {
    padding-right: 140px;
}

.intro__descrip-wrapper::-webkit-scrollbar { 
    width: 24px;
}
   
.intro__descrip-wrapper::-webkit-scrollbar-track {
    background-color: #000000;
    border: 10px solid transparent;
    border-radius: 1em;
    background-clip: content-box;
}
   
.intro__descrip-wrapper::-webkit-scrollbar-thumb {
    background: url('../../img/scrollbar.png') center center / cover no-repeat;
    border-radius: 1em;
}

.intro__descrip-wrapper {
    z-index: 2;
    overflow-y: auto;
    direction: rtl;

    margin-top: 20px;

    border-radius: 40px;
    
    height: 475px;
}

.intro .intro__descrip {    
    position: relative;
    direction:ltr;
    
    padding: 30px;

    width: 760px;

    border-radius: 40px;

    background: transparent;

    font-size: 26px;
    line-height: 1.4em;
}

#bg-pink-sperm {
    display: none;
    position: absolute;
    top: 90px;
    left: 300px;
    width: 1400px;
}
