.button {
    cursor: pointer;

    padding: 10px;

    width: 290px;
    height: 80px;

    border: none;
    border-radius: 40px;
    background: #ff6a9f;

    font-size: 25px;
}

.button .button__text {
    margin: 0 auto;
}

.button .button__img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.button.button_greet {
    display: inline-flex;
    align-items: center;
}

.button.button_about {
    position: absolute;
    bottom: 0;
    right: 35px;

    display: flex;
    align-items: center;

    width: 263px;
}