.title {
    text-transform: uppercase;

    font-family: 'DIN Pro';

    font-size: 27px;
    letter-spacing: 1.5px;
    color: #242424;
}

.title.title_big {
    position: relative;
    margin-top: 37px;
    font-family: 'Gilroy-Regular';

    font-size: 110px;
    letter-spacing: 5px;
    line-height: 117px;
    color: #171717;
    font-weight: 300;
}

.title__clone {
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
}

#modalTitle {
    display: none;
}

.title.title_big.title_center {
    margin-left: 270px;

    line-height: 72px;
}

.title.title_one {
    position: absolute;
    top: 157px;
}

.title.title_two {
    position: absolute;
    top: 127px;
}

.title.title_three {
    position: absolute;
    top: 160px;
    left: 353px;
}

.title.title_abs {
    position: absolute;
    top: -85px;
}