.title {
    text-transform: uppercase;

    font-family: 'DIN Pro';

    font-size: 30px;
    letter-spacing: 3px;
    color: #242424;
}

.title.title_big {
    position: relative;
    font-family: 'Gilroy-Regular';

    font-size: 100px;
    letter-spacing: 5px;
    line-height: 1em;
    color: #171717;
    font-weight: 300;
}

.title__clone {
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
}

#modalTitle {
    display: none;
}

.title.title_big.title_center {
    margin-left: 215px;
}

.title.title_one {
    position: absolute;
    top: 165px;
}

.title.title_two {
    position: absolute;
    top: 130px;
}

.title.title_three {
    position: absolute;
    top: 130px;
    left: 300px;
}

.title.title_abs {
    position: absolute;
    top: -85px;
}