@keyframes scale {
    50% {
        transform: scale(1.3);
    }
    to {
        transform: scale(1);
    }
}

@keyframes slideLeft {
    from {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-50px, -15px) rotate(90deg);
    }
    50% {
        transform: translate(-100px, 0) rotate(180deg);
    }
    75% {
        transform: translate(-50px, 15px) rotate(270deg);
    }
    to {
        transform: translate(0, 0) rotate(360deg);
    }
}

@keyframes slideDiag {
    from {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-25px, -50px);
    }
    50% {
        transform: translate(0, 0);
    }
    75% {
        transform: translate(25px, 50px);
    }
    to {
        transform: translate(0, 0);
    }
}


@keyframes slideDiagSmall {
    from {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-25px, -10px);
    }
    50% {
        transform: translate(0, 0);
    }
    75% {
        transform: translate(25px, 10px);
    }
    to {
        transform: translate(0, 0);
    }
}

@keyframes slideDiagSmallNeg {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-30px, -20px);
    }
}

@keyframes slideDiagSmallestNeg {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-15px, -2px);
    }
}

@keyframes slideDiagSmallestPos {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(25px, -2px);
    }
}

.appearanceDiag {
    animation: 2s ease-in-out appearanceDiag;
}
@keyframes appearanceDiag {
    from {
        transform: translate(100px, 100px);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.fadeIn {
    animation: .5s linear fadeIn;
}
@keyframes fadeIn {
    from {
        opacity: .3;
    }
    to {
        opacity: 1;
    }
}