.title {
    text-transform: uppercase;

    font-family: 'DIN Pro';

    font-size: 30px;
    letter-spacing: 3px;
    color: #242424;
}

.title.title_big {
    font-family: 'Gilroy-Regular';

    font-size: 100px;
    letter-spacing: 5px;
    line-height: 1em;
    color: #171717;
    font-weight: 300;
}

.title.title_big.title_center {
    margin: 0 auto;
}

.title.title_one {
    position: absolute;
    top: 165px;
}

.title.title_two {
    position: absolute;
    top: 130px;
}

.title.title_three {
    position: absolute;
    top: 130px;
    left: calc(50% + 20px);
    transform: translateX(-50%);
}

.title.title_abs {
    position: absolute;
    top: -85px;
}